
<!--PIE DE PAGINA-->
<footer class="bg-blue-950 text-white">
    <div class="container mx-auto px-6 py-6 grid grid-cols-1 md:grid-cols-3 gap-4">
      
      <!-- LOGO LICEO AMERICANO CATOLICO -->
      <div class="mb-6">
        <img src="https://www.uelac.edu.ec/assets/Imagenes/logo_blanco.png" alt="Logo" class="mb-3 w-48">
      </div>
  
      <!--INFORMACION DE CONTACTO-->
      <div class="mb-6">
        <h2 class="text-xl font-bold mb-2">Contactos</h2>
        <p>Telefono: 07 405-6214 / 07 405-6215 / 095-928-4565</p>
        <p>mail: liceo.catolico-hotmail.com</p>
      </div>
  
      <!--UBICACION-->
      <div class="mb-6">
        <h2 class="text-xl font-bold mb-2">Ubicación</h2>
        <p>Avenida de las Américas e Isabel La Católica</p>
        <div class="mt-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31877.406157904203!2d-79.034436!3d-2.909357!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd181d3e3101bd%3A0x590730edf582438b!2sLiceo%20Americano%20Catolico!5e0!3m2!1ses!2sec!4v1706215715587!5m2!1ses!2sec" width="450" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  
      <!--DERECHOS-->
      <div class="text-gray-400 pt-2">
        <div class="container mx-auto px-6">
          <div class="border-t-2 border-gray-500 pt-2">
            <p class="text-base">&copy; 2023. sooneet.ec-gmail.com Todos los derechos reservados.</p>
          </div>
        </div>
      </div>
  
    </div>
  </footer>
  