<div class="container mx-auto px-4 my-4">
    <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      
      <!--TARJETA 1-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col h-full">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Jornadas Deportivas Internas</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
          </p>
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/jornadas_deportivas_2.jpeg" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
      <!--TARJETA 2-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">DANZA</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            A través del programa de danza, los niños, niñas y adolescentes desarrollarán nociones básicas de motricidad, reconocimiento del espacio, coordinación de movimientos, equilibrio, acercamiento a la música y habilidades emocionales, lingüísticas, lógicas y corporales que se obtienen a través de la danza.</p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/danza.jpg" alt="Bottom" class="w-full"/>
          </div>
        </div>
      </div>
      <!--TARJETA 3-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Proyectos Educativos</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ducimus labore omnis atque. Provident aliquam recusandae impedit quaerat nihil vel similique? Praesentium minima velit eius fugiat, dolores repellat odit voluptatem!        </p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/intercolegial.jpg" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
      <!--TARJETA 4-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Experiencia Académica</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cumque, nihil corporis, quod soluta quis nisi ipsa esse eaque mollitia adipisci architecto a! Facere voluptas magni assumenda possimus nam quis!        </p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/img_experienciaEducativa/actividades_culturales3.jpg" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
      <!--TARJETA 5-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Refrigerio</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
          </p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/Img-servicios/refrigerios_descarga_app.png" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
      <!--TARJETA 6-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Bachillerato Técnico</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
          </p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/bachillerato_Tecnico.jpeg" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
      <!--TARJETA 7-->
      <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png" alt="Top" class="w-full rounded-t-lg" />
        <div class="p-4 flex flex-col flex-grow">
          <h3 class="font-bold text-lg mb-2">
            <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Actividades Pedagógicas</a>
          </h3>
          <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
          </p> 
          <div class="mt-auto">
            <img src="https://www.uelac.edu.ec/assets/Imagenes/educacionSteam.jpg" alt="Bottom" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </div>