<!--IMAGEN DE ENCABEZADO-->
<header class="bg-cover bg-center h-40 md:h-96" style="background-image: url('/assets/encabezado.png');">
</header>

<!--CONTENEDOR FRANGA AZUL-->
<div class="bg-blue-900 my-2">
  <!--HAMBUEGUESA-->
  <div class="flex items-center justify-between px-4">
    <button class="flex flex-col justify-center w-10 h-10 space-y-1.5 ml-4 md:hidden" (click)="toggleMenu()">
      <span class="block w-6 h-0.5 bg-black"></span>
      <span class="block w-6 h-0.5 bg-black"></span>
      <span class="block w-6 h-0.5 bg-black"></span>
    </button>
 <!--MENU EN PANTALLA GRANDE-->
    <div class="hidden md:flex space-x-4">
      <a href="#enlace1" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Inicio</a>
      <a href="#enlace2" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Quienes Somos</a>
      <a href="#enlace3" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Oferta Académica</a>
      <a href="#enlace4" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Admisisones</a>
      <a href="#enlace5" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Actividades Extracurriculares</a>
      <a href="#enlace6" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Experiencia Educativa</a>
      <a href="#enlace7" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Servicios</a>
      <a href="#enlace8" class="text-white hover:bg-blue-900 py-2 px-4 hover:bg-gray-900">Contactos</a>
    </div>
  </div>
<!--MENU EN PANTALLA PEQUENA-->
  <div *ngIf="menuVisible" class="md:hidden bg-blue-900">  
    <a href="#enlace1" class="block text-white py-2 px-4 hover:bg-gray-600">Inicio</a>
    <a href="#enlace2" class="block text-white py-2 px-4 hover:bg-gray-600">Quienes Somos</a>
    <a href="#enlace3" class="block text-white py-2 px-4 hover:bg-gray-600">Oferta Académica</a>
    <a href="#enlace4" class="block text-white py-2 px-4 hover:bg-gray-600">Admisiones</a>
    <a href="#enlace5" class="block text-white py-2 px-4 hover:bg-gray-600">Actividades Extracurriculares</a>
    <a href="#enlace6" class="block text-white py-2 px-4 hover:bg-gray-600">Experiencia Educativa</a>
    <a href="#enlace7" class="block text-white py-2 px-4 hover:bg-gray-600">Servicios</a>
    <a href="#enlace8" class="block text-white py-2 px-4 hover:bg-gray-600">Contactos</a>
  </div>
</div>

<!--CARRUSEL Y FLECHAS-->
<div class="relative">
  <div class="carousel-container carousel-container flex justify-center items-center">
    <img [src]="images[currentImageIndex]" alt="Carousel image" class="object-contain max-h-full w-128">
  </div>
  <!--FLECHAS PARA CARRUSEL-->
  <button (click)="prevSlide()" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-gray-300 hover:bg-gray-400 rounded-full p-4">
    &#9664;
  </button>
  <button (click)="nextSlide()" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-gray-300 hover:bg-gray-400 rounded-full p-4">
    &#9654;
  </button>
</div>

<!--ICONOS REDES SOCIALES-->
<div class="fixed top-1/2 right-1 transform -translate-y-1/2 flex flex-col items-center space-y-2">
  <a href="https://facebook.com" target="_blank">
    <img src="assets/facebook_icon.png" alt="Facebook" class="h-10 w-10">
  </a>
  <a href="https://whatsapp.com" target="_blank">
    <img src="assets/whatsapp_icon.png" alt="Whatsapp" class="h-10 w-10">
  </a>
  <a href="https://instagram.com" target="_blank">
    <img src="assets/instagram_icon.png" alt="Instagram" class="h-10 w-10">
  </a>
  <a href="https://tiktok.com" target="_blank">
    <img src="assets/tiktok_icon.png" alt="TikTok" class="h-10 w-10">
  </a>
</div>

<!--CONTENEDOR DE TARJETAS-->
<div class="container mx-auto px-4 my-4">
  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    
    <!--TARJETA 1-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col h-full">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Jornadas Deportivas Internas</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
        </p>
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/jornadas_deportivas_2.jpeg" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
    <!--TARJETA 2-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">DANZA</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          A través del programa de danza, los niños, niñas y adolescentes desarrollarán nociones básicas de motricidad, reconocimiento del espacio, coordinación de movimientos, equilibrio, acercamiento a la música y habilidades emocionales, lingüísticas, lógicas y corporales que se obtienen a través de la danza.</p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/danza.jpg" alt="Bottom" class="w-full"/>
        </div>
      </div>
    </div>
    <!--TARJETA 3-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Proyectos Educativos</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio ducimus labore omnis atque. Provident aliquam recusandae impedit quaerat nihil vel similique? Praesentium minima velit eius fugiat, dolores repellat odit voluptatem!        </p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/intercolegial.jpg" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
    <!--TARJETA 4-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Experiencia Académica</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cumque, nihil corporis, quod soluta quis nisi ipsa esse eaque mollitia adipisci architecto a! Facere voluptas magni assumenda possimus nam quis!        </p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/img_experienciaEducativa/actividades_culturales3.jpg" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
    <!--TARJETA 5-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Refrigerio</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
        </p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/Img-servicios/refrigerios_descarga_app.png" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
    <!--TARJETA 6-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Bachillerato Técnico</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
        </p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/bachillerato_Tecnico.jpeg" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
    <!--TARJETA 7-->
    <div class="bg-white shadow-3x1 rounded-lg border border-gray-300 flex flex-col">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png" alt="Top" class="w-full rounded-t-lg" />
      <div class="p-4 flex flex-col flex-grow">
        <h3 class="font-bold text-lg mb-2">
          <a href="#enlace1" class="text-blue-500 hover:text-blue-700">Actividades Pedagógicas</a>
        </h3>
        <p href="#enlace1" class="text-gray-800 hover:text-blue-700 text-justify mb-4 flex-1">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus possimus, quia soluta quos maiores eaque ratione animi in mollitia sit, ipsum, atque laudantium ipsa perferendis deserunt dolores cupiditate repellat facere?
        </p> 
        <div class="mt-auto">
          <img src="https://www.uelac.edu.ec/assets/Imagenes/educacionSteam.jpg" alt="Bottom" class="w-full" />
        </div>
      </div>
    </div>
  </div>
</div>

<!--PIE DE PAGINA-->
<footer class="bg-blue-950 text-white">
  <div class="container mx-auto px-6 py-6 grid grid-cols-1 md:grid-cols-3 gap-4">
    
    <!-- LOGO LICEO AMERICANO CATOLICO -->
    <div class="mb-6">
      <img src="https://www.uelac.edu.ec/assets/Imagenes/logo_blanco.png" alt="Logo" class="mb-3 w-48">
    </div>

    <!--INFORMACION DE CONTACTO-->
    <div class="mb-6">
      <h2 class="text-xl font-bold mb-2">Contactos</h2>
      <p>Telefono: 07 405-6214 / 07 405-6215 / 095-928-4565</p>
      <p>mail: liceo.catolico-hotmail.com</p>
    </div>

    <!--UBICACION-->
    <div class="mb-6">
      <h2 class="text-xl font-bold mb-2">Ubicación</h2>
      <p>Avenida de las Américas e Isabel La Católica</p>
      <div class="mt-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31877.406157904203!2d-79.034436!3d-2.909357!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd181d3e3101bd%3A0x590730edf582438b!2sLiceo%20Americano%20Catolico!5e0!3m2!1ses!2sec!4v1706215715587!5m2!1ses!2sec" width="450" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!--DERECHOS-->
    <div class="text-gray-400 pt-2">
      <div class="container mx-auto px-6">
        <div class="border-t-2 border-gray-500 pt-2">
          <p class="text-base">&copy; 2023. sooneet.ec-gmail.com Todos los derechos reservados.</p>
        </div>
      </div>
    </div>

  </div>
</footer>
